In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data-p1/Sheet6_Summary.csv")
df.head()

     State         Day      EWMA
0  Florida  2016-09-01 -2.405676
1  Florida  2016-09-02 -3.141129
2  Florida  2016-09-03 -3.324992
3  Florida  2016-09-04 -3.158951
4  Florida  2016-09-05 -3.075930

In [3]:
# Pivot the DataFrame
df_pivoted = df.pivot(index='Day', columns='State', values='EWMA').fillna(0)

# Optional: reset index if you need to flatten the DataFrame
df_pivoted = df_pivoted.reset_index()

print(df_pivoted)

State         Day   Florida  Michigan  Pennsylvania      U.S.  Wisconsin
0      2016-09-01 -2.405676  9.121301      4.407077  3.003801   5.915608
1      2016-09-02 -3.141129  8.724458      4.249351  3.028934   7.251028
2      2016-09-03 -3.324992  8.625247      3.387067  2.984384   7.584883
3      2016-09-04 -3.158951  8.585563      3.042153  3.087703   7.718425
4      2016-09-05 -3.075930  8.565721      2.869697  3.033526   7.785196
..            ...       ...       ...           ...       ...        ...
63     2016-11-03  0.115219  3.309779      1.822752  2.866519   6.065869
64     2016-11-04  0.183900  3.371393      1.722860  2.969300   6.014983
65     2016-11-05  0.296375  3.302022      1.460913  3.007468   5.989541
66     2016-11-06  0.201861  3.162795      1.462989  3.015156   5.975002
67     2016-11-07  0.028450  2.798547      1.592811  2.724448   5.966612

[68 rows x 6 columns]

In [4]:
df_pivoted.to_csv("data-p1/pivoted_EWMA.csv",index=False)