In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data-p4/Flights1_2019_1.csv")
df

,YEAR,DAY_OF_WEEK,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST_CITY_NAME,DEST_STATE_ABR,DEP_DELAY,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,Unnamed: 17
0,2019,6,2019-01-19,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,"Cincinnati, OH",KY,-10.0,1832.0,-25.0,0.0,0.0,NaN
1,2019,7,2019-01-20,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,"Cincinnati, OH",KY,-4.0,1825.0,-37.0,0.0,0.0,NaN
2,2019,1,2019-01-21,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,"Cincinnati, OH",KY,-9.0,1845.0,-17.0,0.0,0.0,NaN
3,2019,2,2019-01-22,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,"Cincinnati, OH",KY,-4.0,1839.0,-23.0,0.0,0.0,NaN
4,2019,3,2019-01-23,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,"Cincinnati, OH",KY,-6.0,1850.0,-12.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583980,2019,3,2019-01-30,14057,1405702,34057,"Portland, OR",13930,1393007,30977,"Chicago, IL",IL,-9.0,1225.0,-27.0,0.0,0.0,NaN
583981,2019,3,2019-01-30,13930,1393007,30977,"Chicago, IL",14908,1490803,32575,"Santa Ana, CA",CA,35.0,2230.0,17.0,17.0,1.0,NaN
583982,2019,3,2019-01-30,14635,1463502,31714,"Fort Myers, FL",13930,1393007,30977,"Chicago, IL",IL,132.0,2035.0,113.0,113.0,1.0,NaN
583983,2019,3,2019-01-30,11618,1161802,31703,"Newark, NJ",13930,1393007,30977,"Chicago, IL",IL,32.0,841.0,37.0,37.0,1.0,NaN
583984,2019,3,2019-01-30,14107,1410702,30466,"Phoenix, AZ",13930,1393007,30977,"Chicago, IL",IL,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def military_time_to_value(t):
    if pd.isna(t):  # Handle NaN explicitly
        return np.nan
    try:
        # Convert to string, ensure it's zero-padded to 4 digits
        t = str(int(float(t))).zfill(4)
        hours = int(t[:-2])  # First part is hours
        minutes = int(t[-2:])  # Last two digits are minutes
        return hours * 60 + minutes  # Convert to total minutes
    except Exception as e:
        print(f"Error processing time {t}: {e}")
        return np.nan  # Return NaN for invalid inputs

df['time_value'] = df['ARR_TIME'].apply(military_time_to_value)

# Step 2: Group by specific columns ('group' and 'subgroup') and impute missing values
df['ARR_TIME_imp_1439'] = df.groupby(['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID','DAY_OF_WEEK'])['time_value'].transform(
    lambda x: x.fillna(x.median())
)

/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [4]:
df['ARR_TIME_imp_1439'] = df['ARR_TIME_imp_1439'] % 1439

In [5]:
df['ARR_TIME_imp_1439'].isna().sum()

9

In [6]:
df['ARR_TIME_imp_1439'] = df.groupby(['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID'])['time_value'].transform(
    lambda x: x.fillna(x.median())
) # fill remaining values based on just airports

/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [7]:
df['ARR_TIME_imp_1439'] = df.groupby(['DEST_AIRPORT_ID'])['time_value'].transform(
    lambda x: x.fillna(x.median())
) # fill remaining values based on just airports

In [8]:
df['ARR_TIME_imp_1439'].isna().sum()

0

In [9]:
df['ARR_DELAY_imp'] = df.groupby(['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID','DAY_OF_WEEK'])['ARR_DELAY'].transform(
    lambda x: x.fillna(x.median())
)

/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [10]:
df['ARR_DELAY_imp'].isna().sum()

16

In [11]:
df['ARR_DELAY_imp'] = df.groupby(['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID'])['ARR_DELAY'].transform(
    lambda x: x.fillna(x.median())
)

/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [12]:
df['ARR_DELAY_imp'].isna().sum()

4

In [13]:
df['ARR_DELAY_imp'] = df.groupby(['DEST_AIRPORT_ID'])['ARR_DELAY'].transform(
    lambda x: x.fillna(x.median())
)

In [14]:
df['ARR_DELAY_imp'].isna().sum()

0

In [15]:
df['DEP_DELAY_imp'] = df.groupby(['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID','DAY_OF_WEEK'])['DEP_DELAY'].transform(
    lambda x: x.fillna(x.median())
)

/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [16]:
df['DEP_DELAY_imp'].isna().sum()

7

In [17]:
df['DEP_DELAY_imp'] = df.groupby(['ORIGIN_AIRPORT_ID', 'DEST_AIRPORT_ID'])['DEP_DELAY'].transform(
    lambda x: x.fillna(x.median())
)

/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
/Users/mairi/Desktop/code/MAT-4376E-F24/.conda/lib/python3.10/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [18]:
df['DEP_DELAY_imp'].isna().sum()

2

In [19]:
df['DEP_DELAY_imp'] = df.groupby(['ORIGIN_AIRPORT_ID'])['DEP_DELAY'].transform(
    lambda x: x.fillna(x.median())
)

In [20]:
df['DEP_DELAY_imp'].isna().sum()

0

In [21]:
df['ARR_TIME_sch_1439'] = df['ARR_TIME_imp_1439'] - df['ARR_DELAY_imp']

df['ARR_TIME_sch_1439'] = df['ARR_TIME_sch_1439'] % 1439

In [22]:
def value_to_military_time(v):
    if pd.isna(v):  # Handle NaN explicitly
        return None
    try:
        hours = int(v // 60)
        minutes = int(v % 60)
        return f"{hours:02}{minutes:02}"  # Format as HHMM
    except Exception:
        return None

df['ARR_TIME_sch_military'] = df['ARR_TIME_sch_1439'].apply(value_to_military_time)

In [23]:
df.columns

Index(['YEAR', 'DAY_OF_WEEK', 'FL_DATE', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN_CITY_NAME',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID',
       'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEP_DELAY', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'Unnamed: 17', 'time_value',
       'ARR_TIME_imp_1439', 'ARR_DELAY_imp', 'DEP_DELAY_imp',
       'ARR_TIME_sch_1439', 'ARR_TIME_sch_military'],
      dtype='object')

In [24]:
df.drop(columns=['Unnamed: 17','time_value'],inplace=True)

In [25]:
df.to_csv("data-p4/impootation.csv")